<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>This is the login page</title>
    <link rel="stylesheet" href="{% static 'auth.css'%}">
</head>
<body>
{% load widget_tweaks %}

<link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/af562a2a63.js" crossorigin="anonymous"></script>

<main>
  <section class="container">
    <!-- login -->
    <div class="login">

      <i class="fas fa-sign-in-alt"></i>
      <strong>Welcome!</strong>
      <span>Sign in to your account</span>

      <form method="post">
        {% csrf_token %}
        <fieldset>
          <div class="form">
            <div class="form-row">
              <i class="fas fa-user"></i>
              <label class="form-label" for="input" >Name</label>
                 {{form.username|attr:"placeholder:enter your name"|add_class:"form-text"}}
            </div>
            <div class="form-row">
              <i class="fas fa-eye"></i>
              <label class="form-label" for="input">Password</label>
                 {{form.password|attr:"placeholder:enter your password"|add_class:"form-text"}}
            </div>
            <div class="form-row bottom">

                <a  class="focus forgot" href="/signup"> >Don't have account?</a>

              <a href="/password_reset" class="forgot">forgot password?</a>
            </div>
            <div class="form-row button-login">
              <button class="btn btn-login" type="submit">Sign in <i class="fas fa-arrow-right"></i></button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>


  </section>
</main>




</body>
</html>